<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="byName">

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://100.81.138.177:3343/information_schema"/>
		<property name="username" value="ali_lazada"/>
		<property name="password" value="91eb77655e1e71b9964e45c33966b388"/>
		<property name="poolPreparedStatements"><value>true</value></property>
		<property name="maxTotal"><value>10</value></property>
		<property name="maxIdle"><value>10</value></property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="charsetsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.alibaba.normandie.sample.CharsetsMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="jsonObjectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"></bean>
</beans>
